<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd">


	<context:component-scan base-package="com.india.Spring"></context:component-scan>
	
	<mvc:annotation-driven /> 
 <tx:annotation-driven transaction-manager="txManager"/>
  <mvc:resources mapping="/resources/**" location="/resources/" />
  
	
		<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/"></property>
		<property name="suffix" value=".jsp" ></property>
		</bean>
		
		<bean id="viewResolver1" class="org.springframework.web.servlet.view.XmlViewResolver">
		<property name="order" value="1"></property>
		<property name="location" value="/WEB-INF/views.xml"></property>
		</bean>
				
		<!--   <bean id="viewResolver2" class="org.springframework.web.servlet.view.ResourceBundleViewResolver">
		<property name="order" value="1"></property>
		<property name="location" value="/WEB-INF/views"></property>
		</bean> -->
		
		<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">    
		<property name="driverClassName" value="com.mysql.cj.jdbc.Driver"></property>    
		<property name="url" value="jdbc:mysql://localhost:3306/mysql"></property>    
		<property name="username" value="root"></property>    
		<property name="password" value="root"></property>    
		</bean> 
		
		<!--  Hibernate Configuration -->
		
		<bean id="sessionFactory"  class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">  
  <property name="dataSource" ref="dataSource" />  
  <property name="annotatedClasses">  
   <list>  
    <value>com.india.Spring.Model.Book</value>  
   </list>  
  </property>  
  <property name="hibernateProperties">  
   <props>  
   <!--  <prop key="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</prop>   -->
    <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
    <prop key="hibernate.show_sql">true</prop> 
    <prop key="hibernate.hbm2ddl.auto">update</prop> 
     
   </props>  
  </property>  
 </bean> 
 
 <bean id="txManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">  
  <property name="sessionFactory" ref="sessionFactory" />  
 </bean>  
  
 <bean id="persistenceExceptionTranslationPostProcessor"  
  class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />
  
  <!--  End Hibernate Configuration -->
  
  <!--  Mail configuration -->
  
  <bean id="javaMailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
<property name="host" value="smtp.gmail.com"></property>
<property name="port" value="587"></property>
<property name="username" value="eswararao.reddi11@gmail.com"></property>
<property name="password" value="eswar1021"></property>
<property name="javaMailProperties">
<props>
<prop key="mail.transport.protocol">smtp</prop>
<prop key="mail.smtp.auth">true</prop>
<prop key="mail.smtp.starttls.enable">true</prop>
</props>
</property>
</bean>

<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
<property name="maxUploadSize" value="20971520"></property>
<property name="maxInMemorySize" value="1048576"></property>
</bean>

<bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
<property name="exceptionMappings">
<props>
<prop key="java.lang.Exception">Error</prop>
</props>
</property>
  </bean>

  <!--  End Mail configuration -->

<bean id="bookDao" class="com.india.Spring.Dao.BookDaoImpl"></bean>
<bean id="bookService" class="com.india.Spring.Service.BookServiceImpl"></bean>

</beans>
